# slicing a list
a segment of a list is called a slice and you can extract one by using a slice operator

In [3]:
l= ['a','b','c','d','e','f']
print(l[2:5])#it prints till e because of the n-1 values
print(l[0:5])
print(l[3:-1])

['c', 'd', 'e']
['a', 'b', 'c', 'd', 'e']
['d', 'e']

In [5]:
l2= ['a','b','c','d','e','f','g','h','i']
print(l2[6:1:-2])#return every 2nd item between position 6 to 1
print(l2[1:6:2])

['g', 'e', 'c']
['b', 'd', 'f']

In [6]:
l3=['red','green','blue']
l3[0]='orange'
print(l3)

l3[-1]='violet'
print(l3)

['orange', 'green', 'blue']
['orange', 'green', 'violet']

# POP operation

In [10]:
l3=['red','green','blue']
x=l3.pop(1)#it will stores the removed value in the new variable
print(l3)

#prints ['red','blue']

#removed item 
print(x)#prints green

['red', 'blue']
green

# del Operation

In [13]:
l3=['red','green','blue']
del l3[1]#if u don't need the removed value,use the del statement
print(l3)

['red', 'blue']


# remove operation
Removes an item by value

In [17]:
#remove an item by value
#if your not sure where the item is in the list , use remove()method to delete it by value
l3=['red','green','blue']
l3.remove('red')
print(l3)

#it will remove the value for one instance only
l4=['red','green','blue','red']
l4.remove('red')#here it removes only one red value
print(l4)

['green', 'blue']
['green', 'blue', 'red']

# Clear operation
Removes all items

In [21]:
#use the clear()method to remove all items from the list
l3=['red','green','blue']
l3.clear()
print(l3)#it prints the empty list

[]

# For loop

In [23]:
l3=['red','green','blue']
for item in l3:#here item is the iterating variable
    print(item)

red
green
blue

In [25]:
#another way for iteraing the values from the list
l3=['red','green','blue']
[print(x) for x in l3]

red
green
blue

[None, None, None]

In [27]:
l=[1,2,3,4]
for i in range (len(l)):#here the i has end index value because of the len() function
    l[i]=l[i]*2 #it squares the values
print(l)#it will prints the doubled values from list afer completion of loop

[2, 4, 6, 8]

# Tuple
Tuple is an ordered collection of values

tuples ara a lot like lists

In [29]:
# a tuple with mixed datatypes
t=(1,'abc',1.23,True)
print(t)

(1, 'abc', 1.23, True)

In [30]:
t2=tuple([1,2,3])#converrt a list to tuple
print(t2)

#comvert a string to tuple
t=tuple('abc')#it splits the string value to char
print(t)

(1, 2, 3)
('a', 'b', 'c')

# tuple packing and unpacking

In [34]:
t=('red','green','blue','cyan')
#when a packed tuple is assingned to new tuple , the individual items are unpacked 
#assinged to the items of a new tuple

(a,b,c,d)=t#it unpacks the values to the variables
print(a)
print(b)
print(c)
print(d)

red
green
blue
cyan

In [1]:
#the tuple is immutablity is applicable only to the top level of the tuple itself,not to its contets.

t=(1,[2,3],4)#for example a list inside a tuple can be changed as usual

t[1][0]='xx'#accessing and updating the 'xx' value

print(t)

(1, ['xx', 3], 4)

# Dictionary

In [7]:
#create a dictionary with of two items tuples
l=[('name','bob'),
  ('age',25),
  ('job',"dev")]

d=dict(l)#it will converts the tuples to dictionary
print(d)

#create a dictionary with a tuple of two item lists
t=(['name','bob'],
  ['age',25],
  ['job',"dev"])
d=dict(t)#it will converts the list to dictionary
print(d)

{'name': 'bob', 'age': 25, 'job': 'dev'}
{'name': 'bob', 'age': 25, 'job': 'dev'}

In [6]:
#when the keys are simple string,if is sometimes easier to specify 
#ke:value pairs using keyword arguments.

d=dict(name='bob',
      age=25,
      job='dev')
print(d)

{'name': 'bob', 'age': 25, 'job': 'dev'}

In [8]:
#create a dictionary with list of zipped keys/values
keys=['name','age','job']
values=['bob',25,'dev']
d=dict(zip(keys,values))
print(d)

{'name': 'bob', 'age': 25, 'job': 'dev'}

In [9]:
#intialize dictionary with default value '0' for each key
keys=['a','b','c']
defaultvalue=0
d=dict.fromkeys(keys,defaultvalue)

print(d)

{'a': 0, 'b': 0, 'c': 0}

In [12]:
#keys must be unique:
#a key can appear in a dictionary only once
d={'name':'bob','age':25,'name':"adam"} # keys should not repeat
print(d)

{'name': 'adam', 'age': 25}

In [22]:
#Duplicate values 
d={'a':[1,2],'b':[1,2],'c':[1,2]}#we can create duplicate values but not duplicate keys

print(d['a'])#we have access key by var['key'] if number var[key]

#print(d['z'])#it will returns error if we try to access key that was no their

print(d.get('z')) # that we can use the var.get(key) to check whether the key has value or not

[1, 2]
None

# adding a new value

In [26]:
d={'name':'bob','age':25}
d['city']="new york"#adding a new value to the dictionary
print(d)

{'name': 'bob', 'age': 25, 'city': 'new york'}


# Merging

In [52]:
d={'name':'bob','age':25,'job':'dev'}
d2={'name':'alpha','age':30,'city':'new york'}
d.update(d2)#here we merge two dictionaries
d

{'name': 'alpha', 'age': 30, 'job': 'dev', 'city': 'new york'}

In [32]:
d={'name':'bob','age':25,'job':'dev'}
x=d.pop('age')
print(d)

{'name': 'bob', 'job': 'dev'}

In [31]:
d={'name':'bob','age':25,'job':'dev'}
del d['job']
print (d)

{'name': 'bob', 'age': 25}

In [36]:
d={'name':'bob','age':25,'job':'dev'}
#the popitem() method removes and returns the last inserted item(recently inserted value)
x=d.popitem()
print(d)
#it keeps the poped values and keys
print(x)

{'name': 'bob', 'age': 25}
('job', 'dev')

In [37]:
d={'name':'bob','age':25,'job':'dev'}
print(list(d.values()))#it prints the values with list

['bob', 25, 'dev']

In [38]:
d={'name':'bob','age':25,'job':'dev'}
print(list(d.items())) #it prints both the key and values

[('name', 'bob'), ('age', 25), ('job', 'dev')]

In [46]:
d={'name':'bob','age':25,'job':'dev'}
for i in d:
    print(i)#it prints only keys
    print(d[i]) #it prints the values

name
bob
age
25
job
dev

In [48]:
#for checking whether the keys are available in the dictionary
d={'name':'bob','age':25,'job':'dev'}
print('name' in d) #it returns the true
print('life' in d) #it returns false

True
False

In [50]:
#for checking whether the values are available in the dictionary
d={'name':'bob','age':25,'job':'dev'}
print('bob'in d.values())#it returns the true
print('adam'in d.values())#it returns false

True
False

In [51]:
d={'name':'bob','age':25,'job':'dev'}
print(len(d))#it prints the length based on no.of datas present in the dictionary

3